 <!DOCTYPE html>
<html lang="pt">

<head>
    
    {%block head%}
        <meta charset="UTF-8">
        <title> Thales Santana</title>
    {%endblock%}
    
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="/styles.css">
</head>


<body>
    <header>
        <div class="links">
            <a href="/">Sobre</a>
            <a href="/content">Conteúdo</a>
            <a href="/portfolio">Portfolio</a>
        </div>
    </header>
    
    {%block content%}{%endblock%}
    
</body>

</html>