{% extends "layout.njk"%}

{%block head%}
<title> ERROR 404</title>
{%endblock%}

{%block content %}
    <img src="https://webinsider.com.br/wp-content/uploads/2019/01/Erro-404-1-1-1024x645.jpg" alt="error" class="error">
{%endblock%}